Python Syntax & Structure

syntax

In [ ]:
print("Sindhu") # function call
x=5 #variable assignment
y=10 #no need to declare type

Sindhu

case-sensitive

In [ ]:
Name = "Sindhu"
name = "Sharan"
print(Name,name)

Sindhu Sharan

Indentation

In [ ]:
if x > 0:
  print("positive") # 4 space indentation
  print("inside the if block")

positive
inside the if block

Variables & Data Types

Numeric Types

In [ ]:
age = 20 # int
height = 5.6 # float
complex_num = 3+4j

String type

In [ ]:
name = "Sindhu"
message = "hii"
multiline = """This is multiline
string"""

Bollean type

In [ ]:
active = True
finisehed = False

type checking

In [ ]:
print(type(age))
print(type(name))
print(type(complex_num))

<class 'int'>
<class 'str'>
<class 'complex'>

type conversion

In [ ]:
str_num = "123"
int_num = int(str_num)
float_num = float(str_num)

print(f"Original:{str_num} (type: {type(str_num)})")
print(f"Integer:{int_num} (type: {type(int_num)})")
print(f"float:{float_num} (type: {type(float_num)})")

Original:123 (type:<class 'str'>)
Integer:123 (type:<class 'int'>)
float:123.0 (type:<class 'float'>)

Exercise 1:Personal information

Create Variables

In [ ]:
first_name = "Sindhu"
last_name = "Turihal"
age = 21
height = 5.6
is_student = True

Name: Sindhu Turihal

Print formatted information

In [ ]:
print(f"Name: {first_name} {last_name}")
print(f"Age: {age}")
print(f"Height: {height}feet")
print(f"Student: {is_student}")

Name: Sindhu Turihal
Age: 21
Height: 5.6feet
Student: True

Type conversion

In [ ]:
age_str = str(age)
height_int = int(height)
print(f"Age as string: {age_str}")
print(f"Height as integer: {height_int}")

Age as string: 21
Height as integer: 5

Operators and Basic Operations

Arithmetic Operators

In [ ]:
a =10
b =3

print(f"Addition:{a} + {b} = {a+b}")
print(f"Subtraction:{a} - {b} = {a-b}")
print(f"Multiplication:{a} * {b} = {a*b}")
print(f"Division:{a} / {b} = {a/b}")
print(f"Floor Division:{a} // {b} = {a//b}")
print(f"Modulus:{a} % {b} ={a%b}")
print(f"Exponentiation:{a} ** {b} = {a**b}")

Addition:10 + 3 = 13
Subtraction:10 - 3 = 7
Multiplication:10 * 3 = 30
Division:10 / 3 = 3.3333333333333335
Floor Division:10 // 3 = 3
Modulus:10 % 3 =1
Exponentiation:10 ** 3 = 1000

Order of operations (PEMDAS)


*   P - Parentheses
*   E - Exponents
*   M - Multiplication
*   D - Division
*  A - Addition
*   S - Subtraction

In [ ]:
result = 2 + 3 * 4 ** 2 - 1
print(f"2 + 3 * 4 ** 2 - 1 = {result}")

2 + 3 * 4 ** 2 - 1 = 49

Relational Operators (or) Comparison

In [ ]:
x = 5
y = 10
print(f"{x} == {y}: {x==y}") # Equal to
print(f"{x} != {y}: {x!=y}") # Not equal to
print(f"{x} < {y}: {x<y}") # less than
print(f"{x} > {y}: {x>y}") # grater than
print(f"{x} <= {y}: {x<=y}") # less than or equal to
print(f"{x} >= {y}: {x>=y}") # greater than or equal to

5 == 10: False
5 != 10: True
5 < 10: True
5 > 10: False
5 <= 10: True
5 >= 10: False

String comparison

In [ ]:
name1 = "Sindhu"
name2 = "Turihal"
print(f"'{name1}' < '{name2}': {name1 < name2}") # alphabetical order

'Sindhu' < 'Turihal': True

Logical Operators

In [ ]:
p = True
q = False

print(f"p and q: {p and q}") # both True
print(f"p or q: {p or q}") # at least one true
print(f"not p: {not q}") # opposite of p

p and q: False
p or q: True
not p: True

In [ ]:
# Practical example
age = 20
has_license = True
can_drive = age >= 18 and has_license
print(f"Can drive: {can_drive}")

Can drive: True

In [ ]:
# Multiple conditions
score = 85
is_present = True
can_pass = score >= 80 and is_present
print(f"Can pass: {can_pass}")

Can pass: True

Hands-on Exercise

Exercise 2: Simple Calaculator

In [ ]:
# Personal information

age = 25
annual_income = 50000
credit_score = 720
has_collateral = True

In [ ]:
# Loan criteria

min_age = 18
min_income = 30000
min_credit_score = 650

In [ ]:
# check qulifications
age_qualified = age >= min_age
income_qualified = annual_income >= min_income
credit_qualified = credit_score >= min_credit_score
overall_qualified = age_qualified and income_qualified and credit_qualified

In [ ]:

print("=== Loan Qualification Check ===")
print(f"Age: {age} (Required: {min_age}) - {'Yes' if age_qualified else 'No'}")
print(f"Income: ${annual_income} (Required: ${min_income}) - {'Yes' if income_qualified else 'No'}")
print(f"Credit Score: {credit_score} (Required: {min_credit_score}) - {'Yes' if credit_qualified else 'No'}")
print(f"Has Collateral: {'Yes' if has_collateral else 'No'}")
print(f"\nOverall Qualification: {'QUALIFIED' if overall_qualified else 'NOT QUALIFIED'}")

=== Loan Qualification Check ===
Age: 25 (Required: 18) - Yes
Income: $50000 (Required: $30000) - Yes
Credit Score: 720 (Required: 650) - Yes
Has Collateral: Yes

Overall Qualification: QUALIFIED

Data Structures

Lists

Lists are mutable

Creating lists

In [ ]:
fruits = ["apple","banana","orange","grape"]
numbers = [10,20,30,40,50]
mixed_data = [1,"Hello",3.14,True]

List indexing (0-based)

In [ ]:
print(f"First fruit: {fruits[0]}")
print(f"Last fruit: {fruits[-1]}")
print(f"Second to Last: {fruits[-2]}")

First fruit: apple
Last fruit: grape
Second to Last: orange

List slicing

In [ ]:
print(f"First 2 fruits: {fruits[0:2]}")
print(f"Last 2 fruits: {fruits[-3:]}")
print(f"All except first: {fruits[1:]}")

First 2 fruits: ['apple', 'banana']
Last 2 fruits: ['banana', 'orange', 'grape']
All except first: ['banana', 'orange', 'grape']

List methods

In [ ]:
fruits.append("kiwi") # add to end
fruits.insert(1,"strawberry") # insert at index
removed = fruits.pop() # Remove last
print(f"updated list: {fruits}")
print(f"Removed: {removed}")

updated list: ['apple', 'strawberry', 'banana', 'orange', 'grape']
Removed: kiwi

List opeations

In [ ]:
print(f"Length:{len(fruits)}")
print(f"Contains 'apple':{'apple' in fruits}")
print(f"Index of 'banana':{fruits.index('banana')}")

Length:5
Contains 'apple':True
Index of 'banana':2

Tuples

Tuples are immutable

In [ ]:
coordinates = (10,20)
rgb_color = (225,128,0)
person_info = ("Sindhu",21,"Student",True)

Tuple unpacking

In [ ]:
x, y = coordinates
print(f"x: {x}, y: {y}")

x: 10, y: 20

Tuples methods

In [ ]:
print(f"Count of 25: {person_info.count(21)}")
print(f"Index of 'Student': {person_info.index('Student')}")

Count of 25: 1
Index of 'Student': 2

Why to use tuples?

*   Immutable (safe for dictionary keys)
*   Slightly faster than lists
*   Good for fixed collections

Dictionaries

Creation

In [ ]:
person = {
    "name":"Sindhu",
    "age":21,
    "profession":"Student",
    "salary":75000,
    "skills": ["Python","JavaScript","SQL"]
}

Accessing valus

In [ ]:
print(f"Name: {person['name']}")
print(f"Age: {person.get('age', 'Unknown')}")

Name: Sindhu
Age: 21

Dictionary methods

In [ ]:
print(f"Keys: {list(person.keys())}")
print(f"Values: {list(person.values())}")
print(f"Items: {list(person.items())}")

Keys: ['name', 'age', 'profession', 'salary', 'skills']
Values: ['Sindhu', 21, 'Student', 75000, ['Python', 'JavaScript', 'SQL']]
Items: [('name', 'Sindhu'), ('age', 21), ('profession', 'Student'), ('salary', 75000), ('skills', ['Python', 'JavaScript', 'SQL'])]

Adding/Updateing

In [ ]:
person["location"] = "New York"
person["salary"] = 80000 # updated string

Practical use case: inventory management

In [ ]:
inventory = {
    "laptops": {"quantity": 50, "price": 999.99},
    "phones": {"quantity": 100, "price": 599.99},
    "tablets": {"quantity": 30, "price": 399.99}
}

Nested access

In [ ]:
print(f"laptops price: ${inventory['laptops']['quantity']}")

laptops price: $50

Sets

sets contains unique value

In [ ]:
colors = {"red","green","blue","red"} # duplicate removed
print(f"Colors: {colors}")

Colors: {'blue', 'red', 'green'}

set operations

In [ ]:
team1_skills = {"Python", "JavaScript","SQL","React"}
team2_skills = {"JavaScript", "SQL", "Java", "Spring"}

common operations

In [ ]:
print(f"Common skills: {team1_skills.intersection(team2_skills)}")
print(f"All skills: {team1_skills.union(team2_skills)}")
print(f"Team 1 only: {team1_skills.difference(team2_skills)}")

Common skills: {'SQL', 'JavaScript'}
All skills: {'Spring', 'SQL', 'Java', 'Python', 'JavaScript', 'React'}
Team 1 only: {'Python', 'React'}

Adding to sets

In [ ]:
colors.add("yellow")
colors.update(["purple","orange"])
print(f"Updated colors: {colors}")

Updated colors: {'blue', 'red', 'orange', 'green', 'yellow', 'purple'}

Control Flow

Conditional statements

if-else

In [ ]:
def get_grade_letter(score):
  if score >= 90:
    return "A"
  elif score >= 80:
    return "B"
  elif score >= 70:
    return "C"
  elif score >= 60:
    return "D"
  else:
    return "F"

Test the funtion

In [ ]:
test_scores = [25,60,98,12,95,72]
for score in test_scores:
  grade = get_grade_letter(score)
  print(f"Score: {score} Grade: {grade}")

Score: 25 Grade: F
Score: 60 Grade: D
Score: 98 Grade: A
Score: 12 Grade: F
Score: 95 Grade: A
Score: 72 Grade: C

Nested conditions

In [ ]:
def get_shipping_cost(weight, distance):
  base_cost = 5.0

  if weight <= 1:
    weight_cost = 2.0
  elif weight <= 5:
    weight_cost = 5.0
  else:
    weight_cost = 10.0

  if distance <= 100:
    distance_cost = 1.0
  elif distance <= 500:
    distance_cost = 3.0
  else:
    distance_cost = 7.0
  return base_cost + weight_cost + distance_cost

Test shipping costs

In [ ]:
print(f"Light, close: ${get_shipping_cost(0.5,50)}")
print(f"Heavy, far: ${get_shipping_cost(10,800)}")

Light, close: $8.0
Heavy, far: $22.0

Loops

For loop

In [ ]:
fruits = ["apple","banana","orange","grape"]
for fruit in fruits:
  print(f"I like {fruit}")

I like apple
I like banana
I like orange
I like grape

Loop with enumerate (get index)

In [ ]:
for i, fruit in enumerate(fruits):
  print(f"{i+1}. {fruit}")

1. apple
2. banana
3. orange
4. grape

Loop with range

In [ ]:
for day in range(1,8):
  print(f"Day {day} of the week")

Day 1 of the week
Day 2 of the week
Day 3 of the week
Day 4 of the week
Day 5 of the week
Day 6 of the week
Day 7 of the week

Nested loops

creating a multiplication table

In [ ]:
print("multiplication table")
for i in range(1,6):
  for j in range(1,11):
    product = i*j
    print(f"{i} x {j} = {product:2d}", end=" ")
    print() #New line after each row

multiplication table
1 x 1 =  1
1 x 2 =  2
1 x 3 =  3
1 x 4 =  4
1 x 5 =  5
1 x 6 =  6
1 x 7 =  7
1 x 8 =  8
1 x 9 =  9
1 x 10 = 10
2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 =  4
4 x 2 =  8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 =  5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

processing data with loops

In [ ]:
sales_data = [
    {"product": "Laptop","price":50,"quantity":5},
    {"product": "Phone","price":100,"quantity":10},
    {"product": "Tablet","price":10,"quantity":8}
]

total_revenue = 0

for item in sales_data:
  item_revenue = item["price"] * item["quantity"]
  total_revenue += item_revenue
  print(f"{item['product']}: ${item_revenue}")
print(f"Total Revenue: ${total_revenue}")

Laptop: $250
Phone: $1000
Tablet: $80
Total Revenue: $1330

loops - while loop

while loop for user input simulation

In [ ]:
def simple_guessin_game():
  target = 7
  guess = 0
  attempts = 0
  print("guess the number b/w 1 and 10")
  while guess != target:
    # simulate user input
    import random
    guess = random.randint(1,10)
    attempts += 1

    if guess < target:
      print(f"guess {attempts}: {guess} - too low!")
    elif guess > target:
      print(f"guess {attempts}: {guess} - too high")
    else:
      print(f"guess {attempts}: {guess} - correct")

    # safety check
    if attempts > 10:
      print("maximum attempts reached")
      break
  print(f"game finised in {attempts} attempts")
simple_guessin_game()

guess the number b/w 1 and 10
guess 1: 10 - too high
guess 2: 9 - too high
guess 3: 2 - too low!
guess 4: 5 - too low!
guess 5: 7 - correct
game finised in 5 attempts

while loop for processing

In [ ]:
def process_queue():
  queue = ["Task 1", "Task 2","Task 3","Task 4"]
  while queue:
    current_task = queue.pop(0)
    print(f"Processing: {current_task}")
    print(f"remaining tasks: {len(queue)}")
  print("all tasks completed")
process_queue()

Processing: Task 1
remaining tasks: 3
Processing: Task 2
remaining tasks: 2
Processing: Task 3
remaining tasks: 1
Processing: Task 4
remaining tasks: 0
all tasks completed

**Funtions**

Basic function definition

In [ ]:
def greet(name):
  return f"hello, {name}"

function call

In [ ]:
message = greet("Sindhu")
print(message)

hello, Sindhu

function with multiple parameters

In [ ]:
def calculate_area(length, width):
  area = length * width
  return area

test the function

In [ ]:
room_area = calculate_area(10,10)
print(f"Room area: {room_area} square feet")

Room area: 100 square feet

function with default parameters

In [ ]:
def create_user_profile(name,age=18,location="Unknown",active=True):
  return {
      "name": name,
      "age": age,
      "location": location,
      "active": active
  }

different ways to call

Advanced Functions Concepts

function returning multiple values

In [ ]:
def analyze_text(text):
  words = text.split()
  word_count = len(words)
  char_count = len(text)
  char_count_no_spaces = len(text.replace(" ",""))
  return word_count, char_count, char_count_no_spaces

Test with sample text

In [ ]:
sample_text = "Python is a powerful programming language"
words,chars,chars_no_space = analyze_text(sample_text)
print(f"Text: {sample_text}")
print(f"Word count: {words}")
print(f"Character count: {chars}")
print(f"Characters (no spaces): {chars_no_space}")

Text: Python is a powerful programming language
Word count: 6
Character count: 41
Characters (no spaces): 36

Variable length arguments

In [ ]:
def calculate_average(*numbers):
  if not numbers:
    return 0
    return sum(numbers)/len(numbers)

Test with different numbers of arguments

In [ ]:
avg1 = calculate_average(10,20,30)
avg2 = calculate_average(5,15,25,35,45)
avg3 = calculate_average(100)
print(f"Average 1: {avg1}")
print(f"Average 2: {avg2}")
print(f"Average 3: {avg3}")

Average 1: None
Average 2: None
Average 3: None

Keyword arguments